.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
}

#imageContainer img {
    max-width: 200px;
    margin-right: 20px;
}

.text {
    flex: 1;
}

.title-with-tooltip {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 700px;
    margin: 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.question-mark {
    font-size: 13px;
    background-color: rgba(76, 76, 76, 0.72);
    color: white;
    border-radius: 25%;
    padding: 1px 3px;
    text-align: center;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: rgba(76, 76, 76, 0.72);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    left: 120%;
    top: 100%;
    margin-top: -30px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
